<% if @articles.errors.any? %>
<h2>The following errors prevented the article from getting created</h2>
<ul>
<% @articles.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>


<%= form_for  @articles do |form| %>
<p>
<%= form.label :title %><br/>
<%= form.text_field :title %>
</p>
<p>
<%= form.label :description %><br/>
<%= form.text_area :description %>
</p>
<p>
<%= form.submit %>
</p>
<% end %>
<%= link_to "Back To article Listing", articles_path %>
