<%= render 'shared/errors', obj: @user %>

<div class="row">
<div class="col-xs-12">
    <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |form| %>
    <div class="form-group">
        <div class="control-label col-md-2">
            <%= form.label :username %>
        </div>
        <div class="col-sm-8">
          <%= form.text_field :username, class: "form-control txtName", placeholder: "Enter Username", autofocus:true %>
        </div>
      </div>
      <div class="form-group">
            <div class="control-label col-md-2">
                <%= form.label :email %>
              </div>
              <div class="col-sm-8">
                <%= form.email_field :email, class: "form-control", placeholder: "Enter Email"%>
              </div>
          </div>
          <div class="form-group">
                <div class="control-label col-md-2">
                    <%= form.label :password %>
                  </div>
                  <div class="col-sm-8">
                    <%= form.password_field :password, class: "form-control", id:"pwd", placeholder: "Enter Password"%>
                  </div>
          </div>
          <div class="form-group">
                <div class="control-label col-md-2">
                    <%= form.label :confirmpassword %>
                  </div>
                  <div class="col-sm-8">
                    <%= form.password_field :password_confirmation, class: "form-control", id:"cmpassword", placeholder: "Enter Confirm Password"%>
                  </div>
          </div>
          <div class="form-group">
                <div class="control-label col-md-2">
                    <%= form.label :address %>
                  </div>
                  <div class="col-sm-8">
                    <%= form.text_area :address, class: "form-control", placeholder: "Enter Address"%>
                  </div>
          </div>
          <div class="form-group">
                <div class="control-label col-md-2">
                    <%= form.label :dateofbirth %>
                  </div>
                  <div class="col-sm-8">
                    <%= form.date_field :dateofbirth, type:"date", class: "form-control", placeholder: "Enter Address"%>
                  </div>
          </div>

            <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <%= form.submit(@user.new_record? ? "Sign up" : "update accont",  class: 'btn btn-primary btn-lg') %>
                  </div>
            </div>

    <% end %>
    <div class="col-xs-4 col-xs-offset-4">
    [ <%= link_to "cancle request and return To article Listing", articles_path %> ]
    </div>
</div>
</div>
<script>
    $( document ).ready(function() {
      debugger
        $( ".txtName" ).keypress(function(e) {
            var key = e.keyCode;
            if (key >= 48 && key <= 57) {
                e.preventDefault();
            }
        });
    });
    $("#cmpassword").on('change', function() {
      var password = document.getElementById("pwd").value;
      var confirmPassword = document.getElementById("cmpassword").value;
      if (password != confirmPassword) {
          alert("Passwords do not match.");
          $('#cmpassword').focus();
          $('#cmpassword').val("");
          return false;
      }
      return true;
    });
</script>
<style>
  input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
</style>
